/** stylesheet for landing page **/

body {font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

.menu,.hero,.footer {background-color: #1f2937;
                    }

/** Menu **/
.menu {display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 420px;}
    .left {margin-right: auto;}
        .logo   {font-size: 24px;
                color: #f9faf8;}

                
        ul{display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;}
            li{padding: 10px;}
            a{text-decoration: none;}
/** Close Menu**/


/** Hero section **/

.hero {display: flex;
justify-content: space-between;
gap: 50px;
padding: 100px 420px;;}

.hero-main-text {font-size: 48px;
                color: #f9faf8;
                font-weight:900;
                margin: 0;
}

.hero-main-text,.hero-secondary-text,.button-1{margin: 5px 0;}
a,
.hero-secondary-text {font-size: 18px;
                    color: #e5e7eb;}


.button-1 {background-color: #3882F6;
            border: 0;
            color: #fff;
            font-weight:bold;
            padding: 10px 30px;
        border-radius: 8px;}

.header-img{
            max-width: 500px;
}

/** Close Hero **/

/** Info Secton**/

.info-header-text {
                    font-size: 36px;
                    color: #1f2937;
                    font-weight: 900;
}


/**Quote Section **/

.quote-container {background-color: #e5e7eb;}
.quote-text {font-size: 36px;
            font-weight: lighter;
            font-style: italic;
            color: #1f2937;}